@import "../UI/varsAndMixins";

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border-top: 1px solid $whiteColor;
  margin-right: 20px;
  animation: fadeIn 0.5s ease;

  @media only screen and (max-width: 576px) {
    padding: 30px 0;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @media only screen and (max-width: 576px) {
      width: 100%;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
  &__input-label {
    font-size: $inputLabelDeskt;
    margin-left: 5px;
    @media only screen and (max-width: 992px) {
      font-size: $inputLabelMax992;
    }
    @media only screen and (max-width: 576px) {
      font-size: $inputLabelMobile;
    }
  }
  &__input-field {
    border-radius: 10px;
    width: 300px;
    margin-top: 5px;
    padding: 8px;
    border: none;
    font-size: $inputFontSize;
    caret-color: $orangeColor;

    @media only screen and (max-width: 576px) {
      width: 100%;
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
  }
  &__button {
    @include cartButton;
    margin-left: 10px;
    &:first-of-type {
      margin-left: 0;
    }
  }
}
